.navbar {
  background-color: #333; /* Fondo gris oscuro */
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff0000; /* Rojo */
}

.navbar-nav .nav-item .nav-link {
  color: #ccc; /* Gris claro */
  font-size: 1rem;
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0000; /* Rojo */
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-nav {
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 1rem;
}

.navbar-nav .nav-item:last-child {
  margin-left: auto;
}

/* Estilo global para la aplicación */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Fondo claro */
  margin: 0;
  padding: 0;
}

/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegurar que el contenido ocupe toda la altura de la pantalla */
}

/* Pie de página */
.footer {
  background-color: #343a40; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Empujar el pie de página al final */
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}